body{
  margin:0;
  padding: 0;
}
/****************************/
/*****MAIN CSS GRID STYLES***/
/****************************/
#main-grid{
  display: grid;
 grid-template-columns:1fr 1fr 1fr;
 grid-template-rows: 3% 5% auto 1100px 1fr 5%;
 grid-template-areas: 
 "header header header"
 "navigation navigation navigation"
 "hero hero hero"
 "content content content"
 "commish-section commish-section commish-section"
 "footer footer footer";
}

/****************************/
/*****HEADER GRID STYLES***/
/****************************/

#header{
  grid-area: header;
  height: 100%;
  background-color:pink;
  display: grid;
 grid-template-columns: 25% 1fr 25%;
 grid-template-areas:
 ". logo .";
}

/****************************/
/*****LOGO GRID STYLES***/
/****************************/
.logo{
  grid-area: logo;
  width: 60%;
  height: 70%;
  background-color:midnightblue;
  justify-self: center;
  align-self: center;
}
/****************************/
/*****NAVIGATION STYLES***/
/****************************/
#navigation{
  grid-area: navigation;
  height: 100%;
  background-color:cyan;
}
/****************************/
/*****HERO STYLES***/
/****************************/
#hero{
  grid-area:hero;
  height: 100%;
  background-color:orange;
}
.hero-image{
  width:100%;
}
/****************************/
/*****MAIN-CONTENT STYLES***/
/****************************/
#content{
  grid-area: content;
  height: 100%;
  background-color:red;
  display:grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: 
  ". meat ."
}

.meat{
  grid-area: meat;
  height:100%;
  background-color:blue;
}

/****************************/
/*COMMISIONER SECTION STYLES*/
/****************************/
#commish-section{
  grid-area: commish-section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  padding: 3% 0;
  grid-template-areas: 
  ". commish-header ."
  ". commish-pic ."
}
.commish-header{
  grid-area: commish-header;
  padding-bottom:2%;
}

.commish-pic{
  grid-area: commish-pic;
  width:100%;
  text-align: center;
  margin: 0;
}
.commish-pic img{
  width: 100%;
}
figcaption{
  padding: 0 22%;
  margin-top: 2%;
  line-height: 1.8em;
}
/****************************/
/*****CONTENT 2 STYLES***/
/****************************/


/****************************/
/*****FOOTER STYLES***/
/****************************/
#footer{
  grid-area: footer;
  height: 100%;
  background-color: mediumseagreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  ". footer-text ."
}

.footer-text{
  grid-area:footer-text;
  text-align: center;
  justify-self: center;
  align-self:center;
}

/*******************************************/
        /*MOBILE MEDIA QUERY HERE*/
/*******************************************/


@media only screen and (max-width: 600px) {
  #content{
    grid-area: content;
    height: 100%;
    background-color:red;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    " meat "
  }
  #commish-section{
    grid-area: commish-section;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2% 0;
    grid-template-areas: 
    " commish-header "
    " commish-pic "
  }

 }