body{
  margin:0;
  padding: 0;
}
/****************************/
/*****MAIN CSS GRID STYLES***/
/****************************/
.main-grid{
  display: grid;
  grid-template-rows: 5% 10% 1fr 1fr 1fr 1fr 10%;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas:
    "header header header"
    "navigation navigation nagivation"
    "hero hero hero"
    ". content ."
    "commish-section commish-section commish-section"
    ". content2 ."
    "footer footer footer";
}
/****************************/
/*****HEADER GRID STYLES***/
/****************************/

#header{
  grid-area: header;
 background-color: pink;
 height: 8%;
 width: 100%;
 display: grid;
 grid-template-columns: 25% 1fr 25%;
 grid-template-areas:
 ". logo .";
}
/****************************/
/*****LOGO GRID STYLES***/
/****************************/
.logo{
  grid-area: logo;
  width: 60%;
  height: 70%;
  background-color:midnightblue;
  justify-self: center;
  align-self: center;
}
/****************************/
/*****NAVIGATION STYLES***/
/****************************/
#navigation{
  grid-area: navigation;
  background-color: orange;
  height: 10%;
  width: 100%;
}
/****************************/
/*****HERO STYLES***/
/****************************/
#hero{
    grid-area: hero;
    width: 100%;
}
.hero-image{
  width:100%;
}

/****************************/
/*****MAIN-CONTENT STYLES***/
/****************************/
#content{
  grid-area: content;
  background-color: cyan;
  height: 120em;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas:
  ". meat-content .";
}
.meat-content{
 background-color: white;
  grid-area: meat-content;
  width: 100%;
}


/****************************/
/*COMMISIONER SECTION STYLES*/
/****************************/
#commish-section{
  grid-area: commish-section;
  background-color: magenta;
  height: 1fr;
  width: 100%;
  display:grid;
 grid-template-columns: 15% 1fr 15%;
grid-template-areas: 
". commish-header ."
". commish-pic ."
;    
}
.commish-header{
  grid-area: commish-header;
}
.commish-pic{
  grid-area: commish-pic;
  max-width:1100px;
  justify-self: center;
  padding: 5% 0;
}

/****************************/
/*****CONTENT 2 STYLES***/
/****************************/
#content2{
  grid-area: content;
  height: 120em;
  width: 100%;
  background-color: mediumturquoise;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas:
  ". meat-content2 .";
}
.meat-content2{
  grid-area: meat-content2;
  width: 100%;
  background-color: white;
  
}

/****************************/
/*****FOOTER STYLES***/
/****************************/
#footer{
  grid-area: footer;
  height:10%;
  background-color: orange;
  display: grid;
  grid-template-areas:
  ". footer-text .";
}
.footer-text{
  grid-area:footer-text;
  justify-self: center;
  align-self: center;
  font-size: 16px;
}

/*******************************************/
        /*MOBILE MEDIA QUERY HERE*/
/*******************************************/
@media only screen and (min-width: 480px) and (max-width:670px)   {
  .main-grid{
    display: grid;
    grid-template-rows: 5% 10% 1fr 1fr 1fr 1fr 10%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "navigation "
      "hero "
      " content "
      " commish-section"
      " content2 "
      "footer";
  }
  #content{
    grid-template-columns: 1fr;
  }
  #content2{
    grid-template-columns: 1fr;
  }
}

