.main-grid{
  display: grid;
  grid-template-rows: 5% 10% 1fr 1fr 1fr 1fr;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas:
    "header header header"
    "navigation navigation nagivation"
    "hero hero hero"
    ". content ."
    "commish-section commish-section commish-section"
    ". content2 .";
}

#header{
  grid-area: header;
 background-color: pink;
 height: 8%;
 width: 100%;
 display: grid;
 grid-template-columns: 25% 1fr 25%;
 grid-template-areas:
 ". logo .";
}
.logo{
  grid-area: logo;
  width: 60%;
  height: 70%;
  background-color:midnightblue;
  justify-self: center;
  align-self: center;
}

#navigation{
  grid-area: navigation;
  background-color: orange;
  height: 10%;
  width: 100%;
}

#hero{
    grid-area: hero;
    background-color: gray;
    height: 45%;
    width: 100%;
}

#content{
  grid-area: content;
  background-color: blue;
  height: 120em;
  width: 100%;

  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas:
  ". meat-content .";
}
.meat-content{
  background-color: black;
  grid-area: meat-content;
  width: 100%;
}

#content2{
  grid-area: content;
  background-color: purple;
  height: 120em;
  width: 100%;

  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas:
  ". meat-content2 .";
}
.meat-content2{
  background-color: mediumspringgreen;
  grid-area: meat-content2;
  width: 100%;
}


#commish-section{
  grid-area: commish-section;
  background-color: magenta;
  height: 1fr;
  width: 100%;
  display:grid;
 grid-template-columns: 15% 1fr 15%;
grid-template-areas: 
". commish-header ."
". commish-pic ."
;    
}


.commish-header{
  grid-area: commish-header;
}
.commish-pic{
  grid-area: commish-pic;
  max-width:1100px;
  justify-self: center;
  padding: 5% 0;
}




/*******************************************/
        /*MOBILE MEDIA QUERY HERE*/
/*******************************************/
@media only screen and (min-width: 480px)   {
  #content{
    grid-template-columns: 1fr;
    grid-template-areas:
    " meat-content ";
  }
}

@media only screen and (min-width: 580px)   {
  #content{
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas:
    ". meat-content .";
  }
}

